
#back_color{
    width: 100vw;
    background-color: #083b4c;
}

.color_white{
    color: #fff;
}

.square{
    width: 75px;
    height: 75px;
    margin: 10px;
    background-color: red;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}